/* Supprimer l'animation de défilement */
h1 {
    font-family: 'Cursive', sans-serif;
    font-weight: bold;
    color: #d93b3b;
    margin-left: 1%;
}

/* Style pour les paragraphes */
p {
    font-family: 'Cursive', sans-serif;
    font-weight: 150;
    color: #d93b3b;
    margin: 1% 5%;
    font-size: 1.5vw;
    line-height: 1.5;
    margin-left: 3%;
    text-align: left;
}

/* Style pour le conteneur du slider */
.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: #1f1fb700;
    border-radius: 2vw;
    border: 2px solid #D93A56;
    margin-top: 1%;
    width: 100%;
    box-sizing: border-box; /* Ajoutez cette ligne */
}

/* Style pour le slider */
.slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    gap: 2%;
    position: relative;
    scrollbar-width: none;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

/* Masquer la barre de défilement pour les navigateurs Webkit */
.slider::-webkit-scrollbar {
    display: none;
}

/* Style pour chaque diapositive */
.slide {
    /* Disposition des éléments à l'intérieur de la diapositive */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Espacement intérieur et couleur de fond de la diapositive */
    padding: 3%;
    background-color: #ffffff00;
}

/* Style pour les images dans les diapositives */
.slide img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style pour les images de projet */
.project-image {
    transform: scale(1);
    transition: .4s ease-in-out;
}

/* Effet de zoom sur les images de projet au survol */
.project-image.zoom:hover {
    transform: scale(1.1);
}

/* Style pour les paragraphes dans les diapositives */
.slide p {
    margin: auto;
    font-size: 0.6vw;
    color: #d93b3b;
    text-align: center;
    margin-bottom: 10%;
}

/* Media Queries pour rendre le design responsive */
@media (max-width: 1200px) {
    p {
        font-size: 1.2vw;
    }
    .slide p {
        font-size: 0.8vw;
    }
}

@media (max-width: 992px) {
    p {
        font-size: 1vw;
    }
    .slide p {
        font-size: 1vw;
    }
    .slider-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 0.8vw;
    }
    .slide p {
        font-size: 1.2vw;
    }
    .slider {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    p {
        font-size: 0.6vw;
    }
    .slide p {
        font-size: 1.5vw;
    }
    .slider-container {
        padding: 5px;
        gap: 5px;
    }
    .slide {
        padding: 2%;
    }
}


