
body {
  margin: 0;
  font-family: 'Cursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ffffff ;
  align-items: center;
    width: 90%; /* Ajustez la largeur selon vos besoins */
    max-width: 1200px; /* Limite maximale de la largeur */
    margin: 0 auto; /* Centrer horizontalement */
  
}

code {
  font-family: 'Cursive', sans-serif;
}

